:root {
    --w: #fff;
    /* Blanc */
    --b: #000;
    /* Noir */
    --o: #ce9120;
    /* Orange */
    --oz: rgba(255, 255, 255, .1);
    /* rgba(255, 255, 255, .1) */
    --bs: rgba(0, 0, 0, .5)
}

.menu-toggle,
h1,
header,
nav,
nav .nav-links li {
    text-align: center
}

.team-member h3,
h1 {
    text-transform: uppercase
}

#testimonials,
.carrousel,
.italic-title,
.member-info,
.team-member,
main {
    overflow: hidden
}

#scrollButton,
.background span {
    position: fixed;
    width: 50px;
    height: 50px
}

.footer-logo {
    margin-top: 35px
}

.footer-contact {
    font-family: Arial, sans-serif;
    margin-bottom: 50px
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6e6e6
}


.background span {
    top: -120px;
    z-index: -1;
    animation: 10s linear infinite animab;
}

.background span:first-child {
    left: 60px;
    animation-delay: .6s;
    border: 5px solid #daa520;
    box-shadow: 0 0 25px var(--bs)
}

.background span:nth-child(2) {
    left: 60%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
    background: #daa520;
    box-shadow: 0 0 25px var(--bs)
}

.background span:nth-child(3) {
    left: 20%;
    animation-delay: 2s;
    border: 5px solid var(--w);
    box-shadow: 0 0 25px var(--bs)
}

.background span:nth-child(4) {
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
    background: gold;
    box-shadow: 0 0 25px var(--bs)
}

.background span:nth-child(5) {
    left: 40%;
    animation-delay: 1s;
    border: 5px solid #daa520;
    box-shadow: 0 0 25px var(--bs)
}

.background span:nth-child(6),
.background span:nth-child(8) {
    border: 5px solid var(--w);
    box-shadow: 0 0 25px var(--bs)
}

.background span:nth-child(6) {
    left: 50%;
    animation-delay: 7s
}

.background span:nth-child(7) {
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
    background: gold;
    box-shadow: 0 0 25px var(--bs)
}

.background span:nth-child(8) {
    left: 70%;
    animation-delay: 8s
}

.background span:nth-child(9) {
    left: 80%;
    animation-delay: 7.5s;
    width: 90px;
    height: 90px;
    background: #daa520;
    box-shadow: 0 0 25px var(--bs)
}

.background span:nth-child(10) {
    left: 90%;
    animation-delay: 1s;
    border: 5px solid gold;
    box-shadow: 0 0 25px var(--bs)
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center
}

@keyframes animab {
    0% {
        transform: translateY(1200px);
        opacity: 1
    }

    80% {
        opacity: 7
    }

    100% {
        transform: translateY(0) rotate(360deg);
        opacity: 0
    }
}

h1 {
    font-size: 2.5rem;
    color: var(--b);
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px var(--bs)
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    order: 1
}

nav {
    order: 2;
    flex-grow: 1
}

.menu-toggle {
    align-items: center;
    order: 3;
    position: fixed;
    top: 50px;
    right: 20px
}

.logo img {
    max-width: 120px;
    border-radius: 34%;
    border: 6px outset #e7a223;
    animation: 12s infinite border-color
}

@keyframes border-color {

    0%,
    100% {
        border-color: var(--w)
    }

    25% {
        border-color: #ffd885
    }

    50% {
        border-color: #a18634
    }

    75% {
        border-color: var(--b)
    }
}

.keywords {
    font-size: 0px
}

main {
    margin: 10px
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 125px
}

nav .nav-links li a {
    text-decoration: none;
    color: var(--b);
    font-weight: 700;
    font-size: 24px;
    transition: color .3s
}

nav .nav-links li a:hover {
    color: #e7a223
}

@media screen and (max-width:770px) {

    nav .nav-links,
    nav .nav-links.active {
        transition: max-height .4s cubic-bezier(.77, 0, .175, 1), opacity .5s ease-in-out
    }

    #sticky-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100
    }

    nav .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 0;
        top: 135px;
        left: 0;
        right: 0;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        z-index: 2
    }

    nav .nav-links.active {
        padding-top: 10px;
        opacity: 1;
        max-height: 255px
    }

    nav .nav-links li {
        padding: 10px;
        text-align: center
    }

    .menu-toggle {
        display: block;
        padding: 5px 20px;
        background-color: #e7a22300;
        border: none;
        cursor: pointer
    }

    .hamburger-menu {
        animation: none;
        width: 35px;
        height: 3px;
        background-color: var(--b);
        margin: 7px 0;
        display: block
    }

    .partner {
        flex: 0 0 calc(50% - 20px)
    }

    form {
        width: 90%
    }

    nav ul {
        flex-direction: column;
        align-items: center
    }

    .team-member {
        width: 50%;
        margin: 0 auto 24px
    }

    .team-member h3 {
        font-size: 5vw;
        text-transform: uppercase;
        color: var(--w)
    }

    .carrousel {
        margin-top: 120px
    }
}

.carrousel-item,
.container {
    padding-top: 10px;
    text-align: center
}

@media screen and (min-width:771px) {
    .menu-toggle {
        display: none
    }
}

.carrousel {
    position: relative;
    width: 100%;
    z-index: 1
}

.carrousel-container {
    display: flex;
    transition: transform 1s ease-in-out
}

.carrousel-item {
    flex: 0 0 100%
}

.carrousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px
}

.slide-left {
    transform: translateX(-100%)
}

.box,
.rond {
    transform: translate(-50%);
    left: 50%
}

#membership {
    padding: 20px 0
}

.container {
    max-width: 1200px;
    margin: 0 auto
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.team-member {
    min-width: 355px;
    background: #daa520;
    margin: 0 12px 24px 0;
    text-align: center;
    border: 2px solid var(--b);
    border-radius: 4%
}

.member-info,
.member-info img {
    width: 250px;
    height: 250px
}

.member-info {
    display: block;
    border-radius: 40%;
    margin: auto;
    border: 7px outset #ddd
}

.team-member h3 {
    font-size: 22px;
    color: var(--w)
}

.team-member p {
    color: var(--w);
    font-size: 18px;
    width: 85%;
    margin: auto
}

.socials {
    padding-top: 30px
}

.socials i {
    padding: 0 15px;
    text-align: center;
    align-items: center;
    font-size: 1.5em
}

.footer-social i {
    margin-top: 30px;
    padding: 0 10px;
    text-align: center;
    align-items: center;
    font-size: 3.5em
}

.animate-member {
    background: var(--oz);
    display: inline-block;
    animation: 2.5s linear infinite alternate-reverse bubling
}

@keyframes bubling {
    0% {
        box-shadow: 0 0 0 0 var(--oz), 0 0 0 60px var(--oz), 0 0 0 120px var(--oz), 0 0 0 280px var(--oz)
    }

    100% {
        box-shadow: 0 0 0 20px var(--oz), 0 0 0 120px var(--oz), 0 0 0 240px var(--oz), 0 0 0 380px var(--oz)
    }
}

.italic-title {
    font-style: italic;
    font-size: 18px;
    color: #666;
    margin-top: 5px
}

#boxs {
    max-width: 100%;
    width: 100%
}

#animated-text,
#boxs h1:nth-child(2) {
    border-right: 2px solid var(--b);
    animation: .8s linear infinite blink
}

@keyframes blink {

    0%,
    100% {
        border-color: transparent
    }

    50% {
        border-color: var(--b)
    }
}

.box-timeline {
    position: relative;
    padding: 80px 0 100px;
    margin-bottom: 50px;
    animation: 2s infinite alternate bounce
}

.box,
.rond,
footer {
    position: absolute
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(15px)
    }
}

.ligne {
    height: 1000px;
    width: 12px;
    margin: 0 auto;
    background: var(--b)
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    border: 44px solid var(--b);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px
}

.r1 {
    top: 79px
}

.fa-file-text-o {
    margin-left: 4px
}

.r2 {
    top: 386px
}

.fa-code-fork {
    margin-left: 7px
}

.r3 {
    top: 692px
}

.fa-folder-open-o {
    margin-left: 9px
}

.r4 {
    top: 1001px
}

.fa-money {
    margin-left: 2px
}

.box {
    width: 390px;
    padding: 20px;
    border-radius: 10px;
    background: #f1f1f1;
    box-shadow: 0 10px 15px var(--bs);
    opacity: .9
}

.b1 {
    top: 30px;
    left: calc(50% - 270px)
}

.b2 {
    top: 336px;
    left: calc(50% + 270px)
}

.b3 {
    top: 642px;
    left: calc(50% - 270px)
}

.b4 {
    top: 950px;
    left: calc(50% + 270px)
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px
}

.btn {
    display: block;
    background: #191970;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px
}

@media screen and (max-width:1000px) {
    .ligne {
        position: relative;
        left: 200px
    }

    .rond {
        left: calc(50% + 200px)
    }

    .box {
        left: calc(50% - 50px)
    }
}

@media screen and (max-width:540px) {

    .rond {
        left: calc(50% + 200px)
    }

    .box {
        left: calc(50% - 50px);
        width: 300px;
        transform: translate(-6%)
    }

    .team-member {
        width: 50%
    }

    .team-member img {
        width: 250px;
        height: 250px;
        border-radius: 5%;
        max-width: 100%
    }
}

@media screen and (max-width:480px) {
    .ligne {
        position: relative;
        left: 155px
    }

    .rond {
        left: calc(50% + 155px)
    }

    .box {
        left: calc(50% - 40px);
        width: 300px;
        transform: translate(-6%)
    }

    .team-member {
        width: 50%
    }

    .team-member img {
        width: 250px;
        height: 250px;
        border-radius: 5%;
        max-width: 100%
    }
}

#testimonials {
    padding: 69px 0;
    text-align: center;
    position: relative
}

#partenaires h1,
.tittle_testimonial {
    margin-bottom: 50px
}

.footer-contact h3,
.testimonial-text,
.tittle_testimonial h2 {
    margin-bottom: 10px
}

.carrousel-container2 {
    display: flex;
    flex-direction: column;
    align-items: center
}

.testimonials-list {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    position: relative
}

.testimonial {
    min-width: 250px;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .9);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(100%)
}

.testimonial.active {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    position: absolute;
    left: 50%;
    border: 2px solid
}

.author {
    font-style: italic;
    color: #888;
    height: 20px
}

.carrousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
    margin: 0 25px;
    cursor: pointer
}

.indicator.active {
    background-color: #333
}

#partenaires {
    margin-bottom: 40px
}

.partners {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    animation: 16s linear infinite scroll
}

@keyframes scroll {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(100%)
    }
}

.partner {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    display: inline-block;
    margin-right: 65px
}

.partner img {
    max-width: 100%;
    height: auto
}

footer {
    text-align: center;
    width: 100%;
    z-index: 3
}

footer p {
    margin: 10px 0
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center
}

.footer-nav ul li {
    margin: 5px 15px
}

.footer-nav ul li a {
    text-decoration: none;
    color: var(--w);
    font-weight: 700
}

#scrollButton {
    display: none;
    padding-bottom: 50px;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: var(--b);
    border-radius: 10px;
    border: 3px solid var(--b);
    font-size: 20px;
    cursor: pointer;
    z-index: 4
}

.fleche {
    text-align: center;
    align-items: center;
    font-size: 2.5rem
}

footer,
header,
nav .nav-links,
.border-art {
    animation: 16s linear infinite alternate animateBackground;
    background-image: linear-gradient(-55deg, var(--w), var(--o), var(--w), #242424);
    background-size: 30000% 100%
}

@keyframes animateBackground {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 100% 0
    }
}

.fa-code-fork,
.fa-file-text-o,
.fa-folder-open-o,
.fa-money {
    color: var(--o)
}

.footer-contact {
    text-align: center
}

.footer-contact h3 {
    font-size: 22px
}

.footer-contact p {
    font-size: 16px
}

.footer-contact p:nth-child(2) {
    color: #007bff;
    text-decoration: none;
    font-weight: 700
}

.footer-contact p:nth-child(3),
.footer-contact p:nth-child(4) {
    color: #333;
    font-weight: 700;
    padding-bottom: 10px
}

#boxs,
#art-gb,
#membership,
#partenaires,
#testimonials,
.footer-contact,
.footer-logo,
.footer-social,
.carrousel {
    opacity: 0;
    transition: opacity .5s
}

.animate-left,
.animate-right {
    opacity: 0;
    transition: opacity .5s ease-in, transform .5s ease-in
}

.animate-left {
    transform: translateX(-200%)
}

.animate-right {
    transform: translateX(200%)
}

.animate-left.active,
.animate-right.active {
    opacity: .9;
    transform: translateX(-50%)
}

/* potentiel truck bien avant la remise de maquettes */

.article-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1
}

.card-container .carte {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px var(--bs);
    border-radius: 15px;
    background: var(--bs);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--bs);
    border-left: 1px solid var(--bs);
    backdrop-filter: blur(5px)
}

.card-container .carte .contenues {
    padding: 20px;
    text-align: center
}

.card-container .carte .contenues h2 {
    position: relative;
    top: -50px;
    right: -50px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.9);
    pointer-events: none;
    opacity: .2
}

.card-container .carte .contenues h3 {
    font-size: 1.8em;
    color: var(--w);
    z-index: 1
}

.card-container .carte .contenues p {
    font-size: 1em;
    color: var(--w);
    font-weight: 300;
    /* Masque le texte qui dépasse */
    /* Empêche le texte de passer à la ligne */
    text-overflow: ellipsis
        /* Affiche "..." pour indiquer du texte coupé */
}

.card-container .carte .contenues a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: var(--o);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(255, 255, 255, .2)
}
